
body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  padding: 20px;
  margin: 0;
  text-align: center;
}

.app-container {
  max-width: 600px;
  margin: auto;
}

.math-block {
  font-family: monospace;
  white-space: pre;
  font-size: 22px;
  margin: 20px 0 5px;
  border-bottom: 2px solid #333;
  display: inline-block;
  text-align: right;
  padding-bottom: 5px;
  width: 80px;
}

.math-input {
  margin-bottom: 25px;
  font-size: 18px;
  width: 80px;
}
